.image {
  width: 100%;
}

.headline {
  text-align: center;
  margin: 10px auto;
}

.headline::after {
  content: "";
  background-image: url("./img/leaf.png");
  width: 36%;
  height: 10%;
  background-size: contain;
  background-repeat: no-repeat;
  right: 0px;
  bottom: 10px;
  position: absolute;
}

.teabox {
  width: 90%;
  display: flex;
  margin: auto 20px;
}